/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-size: 18px;
}

a:link{
    color: rgba(0,255,156,.8);
}

a:visited{
    color: rgb(255, 83, 138);
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Base Module Styling
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.module{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Circle Module Styling
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.module[data-type='circle']{
    width: 100%;
    height: 100%;
}

.circle-container {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.outer.circle-container{
    width: 90vmin;
}

.inner.circle-container{
    width: 94.5%;
}

.circle {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%; 
}

.outer.circle{
    background-color: rgba(0,255,156,.8); 
    border: solid 2.5vmin rgba(100,100,100,.85);
    border: solid 2.5vmin rgba(100,100,100,.85);
}

.inner.circle{
    background-color: rgb(210,210,210);
    padding-bottom: calc(100% + 5vmin);
    padding-bottom: calc(100% + 5vmin);

}

.circle p {
    position: absolute;
    color: #333333;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

.circle .title {
    font-size: 2em;
    top: 38%; 
}

.circle .content {
    font-size: .8em;
    top: 75%; 
}

/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Info-box Module Styling
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

.module[data-type='info-box']{
    margin: 20px 0px;
}

.info-container{
    background-color: rgba(0,0,0,0.8);
    width: 95%;
    margin: 0px auto;
    opacity: 1;
    transition: opacity 1.3s ease-in-out;
    color: rgba(255,255,255,.8);
}

.in .info-container{
    opacity: 1;
}

.out .info-container{
    opacity: 0;
}

.in .header.title{
    margin-left: 0%;
}

.out .header.title{
    margin-left: 100%;
}

.header.title {
    background-color: rgba(255,255,255,.75);
    color: rgb(70,70,70);
    font-size: 30px;
    padding: 10px 0px;
    margin-left: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: margin-left .85s ease-in-out;
}

.header.title:before{
    content: '';
    padding-right: 20px;
}

.info-container .content p{
    font-size: 25px;
    margin: 0 20px;
    padding: 10px 0;
}

.info-container .content > a{
    position: relative;
    display: inline-block;
}


.info-container .content img{
    display: block;
    width: 100%;
    margin: 0 auto;
    -webkit-transition: opacity 0.5s ease-in-out;
       -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
         -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
}

.info-container .content .dark-img{
    opacity: .35;
}

.info-container .content a:hover .dark-img {
    opacity: 1;
}

.info-container .content a:hover .text-overlay {
    opacity: .5;
}

.text-overlay{
    position: absolute;
    width: 100%;
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    text-decoration: underline;
     -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
         -ms-transition: opacity 0.5s ease-in-out;
          -o-transition: opacity 0.5s ease-in-out;
             transition: opacity 0.5s ease-in-out;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Mobile styles
   ========================================================================== */

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}